<!-- template for loading the material preloader -->
<div id='materialPreloader' class='load-bar' style='height:{{settings.height}};{{settings.position}}:0px' ng-class="{'hidden':materialPreloader==false,'visible':materialPreloader==true}">
      <div class='load-bar-container'>
            <div class='load-bar-base base1' style='background:{{settings.col_1}}
            '>
                  <div class='color red' style='background:{{settings.col_2}}
                  '>
                  </div>
                  <div class='color blue' style='background:
                  {{settings.col_3}}
                  '>
                  </div>
                  <div class='color yellow' style='background:
                  {{settings.col_4}}
                  '>
                  </div>
                  <div class='color green' style='background:
                  {{settings.col_1}}
                  '>
                  </div>
            </div>
      </div>
      <div class='load-bar-container'>
            <div class='load-bar-base base2' style='background:{{settings.col_1}}
            '>
                  <div class='color red' style='background:  {{settings.col_2}} 
                  '>
                  </div>
                  <div class='color blue' style='background: 
                  {{settings.col_3}} 
                  '>
                  </div>
                  <div class='color yellow' style='background: 
                  {{settings.col_4}} 
                  '>
                  </div>
                  <div class='color green' style='background: 
                  {{settings.col_1}}  '>
                  </div>
            </div>
      </div>
</div>